{% extends "base.html" %}
{% load static %}

{% block main %}
      <section class="hero">
        <div class="container">
          <div class="flex-row">
            <div class="column">
              <h1 class="heading-primary">
                Hi, I am puzan 
              </h1>
              <p class="paragraph-primary">
                I am currently studying  python and django
                as well as programming language. I learn to make  websites and web
                applications using python, django, html, css and
                javascript,react.
              </p>
              <p class="paragraph-primary">
                As a programming student  I am eager to learn python, django, javascript
                programming. Feel free to check out some of my
                blogs, at my blog page.
              </p>
            </div>
            <div class="column">
              <img src="{% static 'img/wu.jpg'%}"alt=""class="img-responsive"/>
            </div>
          </div>
        </div>
      </section>
      <section class="skills-softwares">
        <div class="container">
          <div class="flex-row">
            <div class="column">
              <h4 class="paragraph-secondary">Main Skills</h4>
            </div>
            <div class="column">
              <p class="paragraph-secondary">
                HTML,CSS,Bootstrap,Javascript,jQuery,Git,Github,Python,
                Django,Django REST, React, Nodejs, Postgres, MongoDb,Docker
              </p>
            </div>
          </div>
          <div class="flex-row">
            <div class="column">
              <h4 class="paragraph-secondary">Main Softwares</h4>
            </div>
            <div class="column">
              <p class="paragraph-secondary">
                VsCode,Chrome,Firefox,Linux, Fedora, Postman,etc
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <hr class="line" />
        </div>
      </section>
      <section class="contact">
        <div class="container">
          <div class="flex-row">
            <div class="column">
              <h2 class="heading-secondary">
                I am thrilled to answer to your next project &rarr;
              </h2>
            </div>
            <div class="column">
              <a href="mailto:puzan8516@gmail.com" class="heading-secondary"
                >puzan8516@gmail.com</a
              >
            </div>
          </div>
        </div>
      </section>
{% endblock %}
    